body {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 42px;
    margin: 20px;
    color: gray;
    text-align: center;
    background-color: #ddd;
}

.grid-container {
    display: grid;
    grid-template-columns: min-content 1fr 1fr; /* 3列構成：左列を最小限、残りを等分 */
    grid-template-rows: auto auto auto auto; /* 4行構成 */
    grid-gap: 10px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.grid-header {
    font-weight: bold;
}

.grid-buttons {
    grid-column: 3 / 4; /* 3列目に配置 */
    grid-row: 4 / 5; /* 4行目に配置 */
    position: relative; /* 相対位置を指定できるようにする */
    height: 100px; /* ボタンの配置のための高さを調整 */
}

button {
    cursor: pointer;
    padding: 15px 30px;
    font-size: 32px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 16px;
    position: absolute; /* ボタンの絶対配置 */
    transform: translateX(-50%); /* ボタンの中央揃え用 */
}

button:hover {
    background-color: #333;
}

/* Cボタンをセルの50%位置に配置 */
.grid-buttons button:first-child {
    left: 50%; /* 左端から50%の位置 */
    background-color: #999; /* 薄いグレー */
}

/* ＝ボタンをセルの75%位置に配置 */
.grid-buttons button:last-child {
    left: 80%; /* 左端から75%の位置 */
}

.input-large {
    font-size: 48px;
    padding: 15px 20px;
    border: 4px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    text-align: center;
}

#result {
    text-align: left;
    padding: 0;
    box-sizing: border-box;
}
